<% include ./header.ejs %>
<!--基因诊断页-->

<script>
    var app = angular.module('myApp', []);
    var guid;
    function genguid(){
        var guid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
            var r = Math.random()*16|0, v = c == 'x' ? r : (r&0x3|0x8);
            return v.toString(16);
        });
        return guid;
    }
    app.controller('myCtrl', function($scope) {

        /*
         查看诊断结果
         -------------------------------------------------
         */
        $scope.getCaseResult = function () {
            if ($scope.checkguid == undefined || $scope.checkguid == '') return;
            $.ajax({
                url: 'http://202.121.178.141/cgi-bin/Anno.cgi?offer=check&user=guest&uid='+$scope.checkguid,
                success: function (data){
                    var parsed = $.parseJSON(data);
                    if (parsed.percentage != undefined){
                        alert('During analysis（'+parsed.percentage+'），Please Wait');
                    }
                    else {
                        window.open(parsed.url);
                        alert('Analysis completed！view result in the new window。');
                    }
                },
                error: function () {
                    alert('Network abnormal，Please try later');
                }
            })
        }

        /*
         疾病加载相关变量和方法
         -------------------------------------------------
         */
        $scope.diseaseData = [];//搜索出的所有疾病详细数据，未分页，未过滤
        $scope.pageDisease = [];//当页显示的疾病的diseaseData index
        $scope.filterLoad = true;

        //分页器初始化
        $scope.diseasePagination = function(){
            var $paginationDisease = $('#pagination-disease');
            var pageSize = 10;
            $scope.filterLoad = true;
            var dataSource = [];
            for (var i = 0;i < $scope.diseaseData.length;i++){
                dataSource[i] = i;
            }
            $scope.$apply();
            $paginationDisease.pagination({
                dataSource: dataSource,//数据源
                pageSize: pageSize,//每页显示的数量
                pageRange: 9, //在本页页码单侧最多显示的页数
                callback: function(data, pagination) {
                    $scope.pageDisease = data;
                    //pagination的第一次callback是同步的，此时使用$apply会出错。
                    if ($scope.filterLoad){
                        $scope.filterLoad = false;
                    } else {
                        //应用以更新页面
                        $scope.$apply();
                    }
                }
            });
        }

        //跳转至病例详情页
        $scope.gotoDisease = function (dIndex) {
            var href = '/disease/' + $scope.diseaseData[dIndex].ID;
            window.open(href);
        }

        /*
         文件创建相关变量和方法
         -------------------------------------------------
         */
        $scope.files = [];
        $scope.chroms = [];
        $scope.genes = [];
        //查看创建好的文件
        $scope.viewFile = function(file){
            ifNew = false;
            $('#myModal').modal('show');
            $scope.fileName = file.name;
            switch (file.type){
                case 'gene':
                    $('#contentNewGene').show();
                    $scope.genes = file.genes;
                    break;
                case 'chromosome':
                    $('#contentNewChromosome').show();
                    $scope.chroms = file.chroms;
            }
        }


        //删除一条染色体记录
        $scope.deleteChrom = function(chrom){
            $scope.chroms.splice($scope.chroms.indexOf(chrom), 1);
        };

        //删除一条基因记录
        $scope.deleteGene = function(gene){
            $scope.genes.splice($scope.genes.indexOf(gene), 1);
        };

        //完成条目创建
        $scope.save = function () {
            $('#myModal').modal('hide');
        }
        //完成一个染色体变异文件的创建或修改
        $scope.saveChromosome = function(){
            if ($scope.chroms.length == 0){
                return alert('请先添加染色体变异数据！');
            }
            for (var i = 0;i < $scope.files.length;i++){
                if ($scope.files[i].name == $scope.fileName){
                    //修改现存文件
                    $scope.files[i].chroms = $scope.chroms;
                    $scope.chroms = [];
                    $scope.fileName = '';
                    $('#myModal').modal('hide');
                    return;
                }
            }
            $scope.files.push({
                name: $scope.fileName,
                type: $scope.type,
                patient: $scope.patient,
                chroms: $scope.chroms,
                valid: true
            });
            $scope.chroms = [];
            $scope.fileName = '';
            $('#myModal').modal('hide');
        };

        //完成一个基因变异文件的创建或修改
        $scope.saveGene = function(){
            if ($scope.genes.length == 0){
                return alert('请添加基因变异数据！');
            }
            for (var i = 0;i < $scope.files.length;i++){
                if ($scope.files[i].name == $scope.fileName){
                    //修改现存文件
                    $scope.files[i].genes = $scope.genes;
                    $scope.genes = [];
                    $scope.fileName = '';
                    $('#myModal').modal('hide');
                    return;
                }
            }
            $scope.files.push({
                name: $scope.fileName,
                type: $scope.type,
                patient: $scope.patient,
                genes: $scope.genes,
                tag: '',
                ispatient: false,
                valid: false
            });
            $scope.genes = [];
            $scope.fileName = '';
            $('#myModal').modal('hide');
        };

        //上传用户在页面中新建的文件
        $scope.upload = function(){
            if ($scope.files.length == 0){
                return alert('请先添加文件！');
            }
            $scope.diagnoseInfo = '文件正在上传和分析中，请耐心等候……';
            $.ajax({
                url : "http://202.121.178.141/cgi-bin/MDPA/VarUpload.cgi",
                async: false,
                data : {
                    gender: $scope.gender,
                    age: $scope.age,
                    inheritance: $scope.inheritance,
                    newFiles: JSON.stringify($scope.files)
                },
                type: 'POST',
                success: function( data ) {
                    alert(data);

                    //基因诊断接口调试中，此为生成伪疾病数据的桩方法
                    $.ajax({
                        type: 'GET',
                        url: 'http://202.121.178.141/cgi-bin/MDPA/GPSEngine.cgi',
                        data: 'HPO=HP:0000005&guid=1',
                        async: false,
                        success: function (data) {
                            $scope.diagnoseInfo = '服务器调试中，以下为伪数据，非真实诊断结果。';
                            $scope.diseaseData = $.parseJSON(data);
                            $scope.diseasePagination();
                        },
                        error: function () {
                            $scope.diagnoseInfo = '服务器异常，请稍后再试。';
                        }
                    });


                },
                error: function() {
                    alert("网络连接异常");
                }
            });
        }

        //初始化caseUploader插件
        //用于标识本次基因诊断会话的id
        /*$scope.caseUploader = function () {
            $.ajax({
                url: 'http://202.121.178.141/cgi-bin/MDPA/VCFupload.cgi',
                additionalData: JSON.stringify({
                    guid: guid
                }),
                async: false,
                type: 'POST',
                success: function(){
                    $scope.files.Guid = guid;
                },
                error: function(){
                    $scope.diagnoseInfo = 'error';
                }
            });
        }*/
        $scope.getguid = function () {
            if ($scope.entryid == ''){
                return alert('please specific entry ID！');
            }
            $scope.Guid = genguid();
            $('#caseUpload').caseUploader({
                caseInput: 'file',//file是本页一个input标签的id
                url: 'http://202.121.178.141/cgi-bin/MDPA/VCFupload.cgi',
                additionalData: JSON.stringify({
                    guid: $scope.Guid,
                    <%-userName && userName != '' ? 'user: '+userName : ''%>
                }),
                callback: function(data, err) {
                    if (data && data !=  'finish'){
                        var fields = data['dataFields'].split('\t');
                        if (fields.length == 10){
                            //单样本
                            $scope.files.push({
                                Entryid: $scope.entryid,
                                Guid: $scope.Guid,
                                tag: fields[9],
                                ispatient: true,
                                valid: true
                            });
                        }else if (fields.length > 10){
                            for (var i = 9; i < fields.length;i++) {
                                $scope.files.push({
                                    Entryid: $scope.entryid,
                                    Guid: $scope.Guid,
                                    tag: fields[i],
                                    ispatient: false,
                                    valid: true
                                });
                            }
                        } else{
                            return alert('VCF file has columns less than 10!');
                        }
                    }
                    if (err && err != ''){
                        alert(err);
                    }
                }
            });
            $scope.$apply();
        }

        //诊断函数
        $scope.diag = function () {
            var table = document.getElementById("grouptable");
            var row = table.rows.length;
            var col = table.rows[0].cells.length;
            $scope.diagarray = [];
            $scope.count = 0;
            if (row > 1){
                for (var i = 1; i < row; i++){
                    var tdid = $("#grouptable tr:eq(" + i + ") td:eq(0)").html();
                    var tdguid = $("#grouptable tr:eq(" + i + ") td:eq(1)").html();
                    var tdtag  = $("#grouptable tr:eq(" + i + ") td:eq(3)").html();
                    var tdpatient = $("#grouptable tr:eq(" + i + ") td:eq(4)").html();
                    var tdselect = $("#grouptable tr:eq(" + i + ") td:eq(5)").html();
                    tdtag = $(tdtag).get(0);
                    tdselect = $(tdselect).get(0);
                    tdpatient = $(tdpatient).get(0);
                    if($scope.files[i-1].valid){
                        $scope.count += 1;
                        $scope.diagarray.push({
                            Entryid: tdid,
                            guid: tdguid,
                            ispatient: $scope.files[i-1].ispatient,
                            tag: $scope.files[i-1].tag,
                            selected: $scope.files[i-1].valid
                        })
                    }
                }
            }
            //样本处理

            if ($scope.count == 1){
                //单一样本
                var hash = $scope.diagarray[0];
                if(!hash.ispatient){
                    alert("patient not be selected!");
                    return;
                }
                $.ajax({
                    url: 'http://202.121.178.141/cgi-bin/Anno.cgi?offer=submit&user=guest&uid=' + hash.guid,
                    success: function (data) {
                        $scope.checkguid = hash.guid;
                        $scope.$apply();
                        $("#checkstatus").modal("show");
                    },
                    error: function () {
                        var str = '';
                        for (var i in err){
                            if ( typeof err[i] != "funciton"){
                                str = i + ':' + err[i] + '\n';
                            }
                            alert('fatal error');
                        }
                    }
                });
            }else if($scope.count > 1){
               //多样本
                var oldguids = [];
                var patients = [];
                var normal = [];
                var samples = [];
                var selectcount = 0;
                $scope.diagarray.forEach(function (d) {
                    if (d.selected) {
                        selectcount += 1;
                        oldguids.push(d.guid);
                        if (d.ispatient) {
                            if (d.tag == undefined || d.tag == '') {
                                alert("please specific tag in VCF file");
                                return;
                            } else {
                                patients.push(d.tag);
                            }
                        } else {
                            normal.push(d.tag);
                        }
                        samples.push(d.Entryid);
                    }
                });
                oldguids = $.uniqueSort(oldguids);

                if(selectcount == 0){
                    alert("please select at least one sample");
                    return;
                }else if(oldguids.length == 1){
                    $.ajax({
                        url: 'http://202.121.178.141/cgi-bin/Anno.cgi?offer=submit&user=guest&uid=' + oldguids[0] + '&patient=' + patients.join('+') + '&normal=' + normal.join('+'),
                        success: function () {
                            $scope.checkguid = oldguids[0];
                            $scope.$apply();
                            $("#checkstatus").modal("show");
                        },
                        error: function () {
                            var str = '';
                            for (var i in err){
                                if ( typeof err[i] != "funciton"){
                                    str = i + ':' + err[i] + '\n';
                                }
                                alert('fatal error');
                            }
                        }
                    });
                }else {
                    var newguid = genguid();
                    //cgi para
                    var para = "?user=guest&guids=" + oldguids.join("+") + "&newguid=" + newguid;
                    alert(samples.join(','));
                    $.ajax({
                        url: 'http://202.121.178.141/cgi-bin/MDPA/Merge.cgi' + para,
                        success: function () {
                            $scope.files.push({
                                Entryid: 'Merge of ' + samples.join(','),
                                Guid: newguid,
                                tag: 'merge',
                                ispatient: false,
                                valid: true
                            });
                            $.ajax({
                                url: 'http://202.121.178.141/cgi-bin/Anno.cgi?offer=submit&user=guest&uid=' + newguid + '&patient=' + patients.join('+') + '&normal=' + normal.join('+'),
                                success: function () {
                                    $scope.checkguid = newguid;
                                    $scope.$apply();
                                    $("#checkstatus").modal("show");
                                },
                                error: function () {
                                    var str = '';
                                    for (var i in err) {
                                        if (typeof err[i] != "funciton") {
                                            str = i + ':' + err[i] + '\n';
                                        }
                                        alert('fatal error');
                                    }
                                }
                            });
                        },
                        error: function () {
                            alert("fatal error");
                        }
                    });
                }
            }
        }
    });
</script>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="contentNewFile" hidden>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    <% if (lan == 'eng') { %>New file<% } else { %>新增条目<% } %>
                </h4>
            </div>
            <div class="modal-body">
                <label class="col-md-12"><% if (lan == 'eng') { %>Sample ID: <% } else { %>样本编号：<% } %>
                    <input ng-model="entryid" ng-init="entryid=''">
                </label>
                <!--
                <label class="col-md-6"><% if (lan == 'eng') { %>Patient: <% } else { %>病患：<% } %>
                    <select ng-model="patient" ng-init="patient='self'">
                        <option value="self"><% if (lan == 'eng') { %>Self<% } else { %>本人<% } %></option>
                        <option value="father"><% if (lan == 'eng') { %>Father<% } else { %>父亲<% } %></option>
                        <option value="mother"><% if (lan == 'eng') { %>Mother<% } else { %>母亲<% } %></option>
                        <option value="grandfather"><% if (lan == 'eng') { %>Grandfather<% } else { %>祖父<% } %></option>
                        <option value="grandmother"><% if (lan == 'eng') { %>Grandmother<% } else { %>祖母<% } %></option>
                    </select>
                </label>
                -->
                <!--<label class="col-md-12"><% if (lan == 'eng') { %>File name: <% } else { %>文件：<% } %> -->
                    <input type="file" multiple="multiple" name="file" id="file" ng-click="getguid()">
                    <div id="caseUpload"></div>
                <!--</label>-->
                <button ng-click="save()"><% if (lan == 'eng') { %>OK<% } else { %>确定<% } %></button>
            </div>
        </div><!-- contentNewFile -->
        <div class="modal-content" id="contentNewGene" hidden>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    <% if (lan == 'eng') { %>gene variation<% } else { %>基因变异<% } %>
                </h4>
            </div>
            <div class="modal-body">
                <label><% if (lan == 'eng') { %>Gene name<% } else { %>基因名<% } %>
                    <input ng-model="gene" ng-init="gene=''" placeholder="多个可用“;”隔开">
                </label>
                <button ng-click="addGene()"><% if (lan == 'eng') { %>Add<% } else { %>添加<% } %></button>
                <table ng-if="genes.length>0" class="table table-bordered table-striped dataTable" role="grid">
                    <thead>
                    <tr role="row">
                        <th class="col-md-6" title="<% if (lan == 'eng') { %>Gene name<% } else { %>基因名<% } %>">
                            <% if (lan == 'eng') { %>Gene name<% } else { %>基因名<% } %>
                        </th>
                        <th class="col-md-6" title="<% if (lan == 'eng') { %>Do something to this entry<% } else { %>对该条目进行操作<% } %>">
                            <% if (lan == 'eng') { %>Operation<% } else { %>操作<% } %>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr role="row" class="color-palette" ng-repeat="gene in genes">
                        <td>{{ gene.Name }}</td>
                        <td><a href="javascript:void(0)" ng-click="deleteGene(gene)"><%-lan=='eng'?'delete':'删除'%></a></td>
                    </tr>
                    </tbody>
                </table>

                <button ng-click="saveGene()"><% if (lan == 'eng') { %>OK<% } else { %>确定<% } %></button>
            </div>
        </div>
    </div><!-- /.modal -->
</div>
<div class="modal fade" id="checkstatus" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="checkdialog" hidden>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    <% if (lan == 'eng') { %>Check status<% } else { %>查询结果<% } %>
                </h4>
            </div>
            <div class="modal-body">
                <label class="col-md-12">
                    <input ng-model="checkguid">
                </label>
                <button class="btn btn-primary" ng-click="getCaseResult()"><% if (lan == 'eng') {%>Check<%} else{%>查询<%}%></button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <script src="<%=static_dir%>/js/caseUploader/lib/xlsx.core.min.js"></script>
    <script src="<%=static_dir%>/js/caseUploader/lib/pako.min.js"></script>
    <script src="<%=static_dir%>/js/caseUploader/caseUploader.js"></script>
    <link rel="stylesheet" href="<%=static_dir%>/js/caseUploader/caseUploader.css"/>
    <script>
        var ifNew = true;
        $(document).ready(function() {
            //注册myModal打开和关闭事件
            $('#myModal').on('shown.bs.modal', function() {
                if (ifNew) {
                    $('#contentNewFile').show();
                } else {
                    ifNew = true;
                }
            }).on('hide.bs.modal', function(){
                $('#contentNewFile').hide();
                $('#contentNewChromosome').hide();
                $('#contentNewGene').hide();
            });

            $("#checkstatus").on("shown.bs.modal", function () {
                if(ifNew){
                    $("#checkdialog").show();
                }else{
                    ifNew = true;
                }
            }).on("hide.bs.modal", function () {
                $("#checkdialog").hide();
            });


        })

        //打开新建基因窗体
        function newGene(){
            $('#myModal').modal('show');
        }

        function checkStatus() {
            $("#checkstatus").modal("show");
        }

    </script>
    <div class="row">
        <p><% if (lan == 'eng'){%>VCF file:<%} else {%>基因或染色体变异文件：<%}%></p>
        <button onclick="newGene()" class="btn btn-info"><% if (lan == 'eng'){%>New<%} else {%>新建<%}%></button>
        <script>
            //测试用
            function upload(){
                //var data = pako.gzip('11111111111111111222222222222222222222333',{to: 'string'});
                var originalData = '11111111111111111222222222222222222222333';

                var data = pako.deflate(originalData, {to: 'string'});
                data = btoa(data);
                $.ajax({
                    url: 'http://202.121.178.141/cgi-bin/MDPA/VCFZip.cgi',
                    data: {
                        data: data
                    },
                    success: function (data) {
                        alert(data);
                    },
                    error: function (err) {
                        alert('err');
                    }
                })

                return;

                alert(1);
                var file = $('#file')[0].files[0];
                /*var str = '';
                for (var i in file)
                {
                    if (typeof file[i] != 'function')
                        str += i + ': ' + file[i] + '\n';
                }
                alert(str);*/
                var reader = new FileReader();
                reader.onloadstart = function() {
                    var fData = new FormData();


                    var blob = file.slice(0, 32);
                    var str = '';
                    for (var i in blob)
                    {
                        if (typeof blob[i] != 'function')
                            str += i + ': ' + blob[i] + '\n';
                    }
                    alert(str);

                    fData.append("name",file.name);
                    fData.append("size",file.size);
                    fData.append("type",file.type);
                    fData.append("file",file.slice(0, 32));


                    $.ajax({
                        url: 'upload',
                        type: 'POST',
                        data: fData,
                        processData: false,
                        contentType: false,
                        cache: false,
                        success: function (data) {
                            alert(data);
                        },
                        error: function (err){
                            alert(err);
                        }
                    });
                }
                reader.readAsText(file);

            }
        </script>
    </div>
    <table class="table table-bordered table-striped dataTable" role="grid" ng-if="files.length" id="grouptable">
        <thead>
        <tr role="row">
            <th class="col-md-2" title="<% if (lan == 'eng') { %>Sample ID<% } else { %>样本编号<% } %>">
                <% if (lan == 'eng') { %>Sample ID<% } else { %>样本编号<% } %>
            </th>
            <th class="col-md-2" title="<% if (lan == 'eng') { %>GUID<% } else { %>GUID<% } %>">
                <% if (lan == 'eng') { %>GUID<% } else { %>GUID<% } %>
            </th>
            <th class="col-md-2">
                <% if (lan == 'eng') {%>TAG<%} else {%>标签<%} %>
            </th>
            <th class="col-md-2">
                <% if(lan == 'eng') {%>Patient<%} else {%>病患<%} %>
            </th>
            <th class="col-md-1" title="<% if (lan == 'eng') { %>Whether this entry is valid as a datum for diagnosing.<% } else { %>该条目是否用作诊断数据<% } %>">
                <% if (lan == 'eng') { %>in use<% } else { %>用于诊断<% } %>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr role="row" class="color-palette" ng-repeat="file in files">
            <td>
                {{ file.Entryid }}
            </td>
            <td>{{ file.Guid }}</td>
            <td>{{file.tag}}</td>
            <td><input type="checkbox" ng-model="file.ispatient"></td>
            <td><input type="checkbox" ng-model="file.valid"></td>
        </tr>
        </tbody>
    </table>
    <div class="row">
        <hr>
        <% if (lan == 'eng') {%>Examples can be download here:<%}else{%>实例文件<%} %>
        <br/>
        <a href="http://202.121.178.141/MDPA/GPS_data/examples/example.vcf" download="example.vcf">True positive set</a><br/>
        <a href="http://202.121.178.141/MDPA/GPS_data/examples/Family.pass.vcf" download="Family.pass.vcf">Merged VCF of Family1</a><br/>
        <a href="http://202.121.178.141/MDPA/GPS_data/examples/SRR1584524.pass.vcf" downlaod="Mother.vcf">Single VCF of mother</a><br/>
        <a href="http://202.121.178.141/MDPA/GPS_data/examples/SRR1584526.pass.vcf" download="Father.vcf">Single VCF of father</a><br/>
        <a href="http://202.121.178.141/MDPA/GPS_data/examples/SRR1584525.pass.vcf" download="Child.vcf">Single VCF of child</a><br/>
        <!--
        <hr>
        如数据量较大，请使用文件上传功能。支持以下类型（点击链接下载模版）：
        <br/>
        基因变异文件（
        <a href="<%=static_dir%>/caseTemplates/gene.txt" download="gene.txt">txt</a>、
        <a href="<%=static_dir%>/caseTemplates/gene.xlsx" download="gene.xlsx">xlsx</a>、
        <a href="<%=static_dir%>/caseTemplates/gene.xls" download="gene.xls">xls</a>、
        <a href="<%=static_dir%>/caseTemplates/gene.csv" download="gene.csv">csv</a>
        格式）；
        <br/>
        染色体变异文件（
        <a href="<%=static_dir%>/caseTemplates/chrom.txt" download="chrom.txt">txt</a>、
        <a href="<%=static_dir%>/caseTemplates/chrom.xlsx" download="chrom.xlsx">xlsx</a>、
        <a href="<%=static_dir%>/caseTemplates/chrom.xls" download="chrom.xls">xls</a>、
        <a href="<%=static_dir%>/caseTemplates/chrom.csv" download="chrom.csv">csv</a>、
        vcf格式）。
        <br/>
        -->
        <hr>
        <button class="btn btn-primary" onclick="checkStatus()"><% if(lan == 'eng' ){%>Check for results<% }else{ %>查询结果<%}%></button>
        <button ng-click="diag()" class="btn btn-default pull-right"><%if (lan =='eng'){%>Diagnose<%} else{%>诊断<%}%></button>
        <!--<button onclick="upload()" class="btn btn-default pull-right">测试</button>-->
    </div>
    <div class="row" ng-if="diagnoseInfo!=''">
        {{ diagnoseInfo }}
    </div>
    <div class="block-disease" ng-if="diseaseData.length > 0"
         ng-repeat="dIndex in pageDisease">
        <div class="title-disease"><!--标题块-->
            <a href="javascript: void(0);" ng-click="gotoDisease(dIndex)">
                {{ diseaseData[dIndex].NO }}. {{ diseaseData[dIndex].Name }}
            </a>
            <br>
            <i ng-if="diseaseData[dIndex].pvalue != undefined">
                (Score: {{ diseaseData[dIndex].Score }}, P-value: {{ diseaseData[dIndex].pvalue }})
            </i>
            <i ng-if="diseaseData[dIndex].pvalue == undefined">
                (Score: {{ diseaseData[dIndex].Score }})
            </i>
        </div>
        <div class="description-disease" ng-if="diseaseData[dIndex].Description != 'NULL'">
            {{ diseaseData[dIndex].Description }}
        </div>
        <div class="gene-disease"
             ng-if="&& diseaseData[dIndex].Genes != undefined && diseaseData[dIndex].Genes.length > 0">
            <b>Gene(Cytogenetic location):</b>
            <a target="_blank" href="{{ '/gene/' + gene.gene }}" ng-repeat="gene in diseaseData[dIndex].Genes">
                {{ gene.gene + '(' + gene.cytoband + ');' }}
            </a>
        </div>
        <div class="others-disease">
            <a target="_blank" href="{{ 'https://omim.org/entry/'+diseaseData[dIndex].ID }}">
                <b>OMIM: {{ diseaseData[dIndex].ID }}</b>
            </a>
        </div>
    </div>
    <div id="pagination-disease"></div>
</div>

<% include ./footer.ejs %>